header {
  position: fixed;
  background-color: hsl(3, 100%, 68%);
  width: 100%;
  display: block;
  padding-left: 0px;
}

header nav {
  float: right;
  padding: 30px;
  font-family: Avenir, Arial;
}

section {
    overflow: auto;
    width: 100%;
    margin-bottom: 10%;
}

section #fun {
  width: 50%;
}
section > hr {
  width: 40%

}
article{
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0px 12px;
margin-bottom: 0px;
}

aside{
  float: none;
  box-sizing: border-box;
  padding: 250px 200px;
}

aside .image-box{
  float: none;
  align-content: center;
  display: inline-block;
}
article .image-box{
  height: 450px;
  overflow: hidden;
}

article hgroup {
  text-align: center;

}
article img {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px auto;
}


body {
  background-color: white;
  text-align: center;

}



h1{
  font-family: Baskerville, Garamond;
  letter-spacing: 8px;
  font-size: 80px;
  color: 	white;
  margin-bottom: 10px

}

h2, h3 {
  color: hsl(3, 100%, 68%);
  font-family: Baskerville, Garamond;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

h4 {
  color: hsl(217, 65%, 37%);
  font-family: Baskerville, Garamond;
  font-size: 20px;
  letter-spacing: 3px;
}


img{
  display: block;
}



p {
  margin-right: 100px;
  margin-left: 100px;
  line-height: 1.5em;
  font-family: Avenir, Arial;
  text-align: justify;
  color: rgb(136,170,226);
  margin-top: 20px;
}

#link2, #link1, #link3{
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
}

a:link {

  color: green;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:focus {
  color: yellow;
}


ul{
  list-style-type: square;
  list-style-position: inside;
  font-weight: bold;
  background-color: rgb(136,170,226);
  color: white;
  width: 55%;
  margin:0 auto;
  border:7px solid white;
}

table{
  position: relative;
  margin: auto;
  border-collapse: collapse;
  table-layout: auto;

}
thead{
  text-align: center;
  font-weight: bold;
}

td{
  text-align: center;
}

input:focus {
    background-color: 	hsl(3, 100%, 68%);
}

input {
  color: white;
  background-color: rgb(136,170,226);
  font-size: 15px;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: hsl(3, 100%, 68%);
  width: 100%;
}
