
body {
  background-color: #e2edff;
  text-align: center

}

.information {
  color: rgb(136,170,226);
}

html {
  margin-top: 10px, 30px, 30px, 30px;
  padding-top: 10px, 30px, 30px, 30px;
}

h1{
  font-family: Baskerville, Garamond;
  letter-spacing: 8px;
  font-size: 80px;
  color: 	hsl(3, 100%, 68%);

}

h2, h3 {
  color: hsl(217, 65%, 37%);
  font-family: Baskerville, Garamond;
  font-size: 40px;
  letter-spacing: 3px;
}

#table1{
  margin-left: auto;
  margin-right: auto;
  width: 10%;


}
#table2 {
  margin-left: auto;
  margin-right: auto;
  width: 30%
}
.movies {


}

img{
  margin: auto;
  display: block;
}
#icecream {
text-decoration: underline;
}

p {
  margin-right: 100px;
  margin-left: 100px;
  line-height: 1.5em;
  text-indent: 100px;
  font-family: Arial;
  text-align: justify;
}

#link2, #link1, #link3{
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
}

a:link {

  color: #ff9e99;
}

a:visited {
  color: hsl(3, 100%, 68%);
}

a:hover {
  color: white;
}

a:focus {
  color: yellow;
}

#map{
border-width: 5px;
border-style: solid;
border-color: darkblue;
padding: 10px 10px 10px 10px;
margin-bottom: 60px;
margin-top: 60px;

box-shadow: 2px 2px 2px 2px darkblue;
}

ul{
  list-style-type: square;
  list-style-position: inside;
  font-weight: bold;
  background-color: rgb(136,170,226);
  color: white;
  width: 500px;
  margin:0 auto;
  border:10px solid white;
}

table{
  margin: auto;
  border-collapse: collapse;
  table-layout: auto;

}
thead{
  text-align: center;
  font-weight: bold;
}

td{
  text-align: center;
}

input:focus {
    background-color: 	hsl(3, 100%, 68%);
}

input {
  color: white;
  background-color: rgb(136,170,226);
  font-size: 15px;
  font-weight: bold;
}
